<a href="https://colab.research.google.com/github/prof-salu/2025.2-LogicaProgramacao/blob/main/10_Cole%C3%A7%C3%B5es.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Coleções
* listas [list]
* tuplas (tuple)
* conjuntos {set}
* dicionários {dict}

In [ ]:
# armazenar 30 notas
#lista em python -->[]
notas = [5, 7, 3, 5.5, 9.9]
print(type(notas))

#Acesso aos elementos da lista
#index --> posição

# O primeiro elemento de uma lista, sera armazenado
# no index (indice) ZERO "0"

# O ultimo elemento de uma lista, estara sempre
# no index (indice) equivalente ao tamanho_lista -1

print(notas[0]) #5
print(notas[2]) #3
print(notas[4]) #9.9

In [13]:
minha_lista = [12, -45, 'Zeca', 60, 'Gato', 9.5]

print(type(minha_lista)) #list
print(type(minha_lista[2])) #string
print(minha_lista[0] - minha_lista[5]) #2.5
print(minha_lista[4].upper())#GATO
print(minha_lista[0] * 5 == minha_lista[3]) #True

<class 'list'>
<class 'str'>
2.5
GATO
True

In [15]:
outra_lista = list((1, 2, 3, 4, 5))
print(type(outra_lista))

<class 'list'>

In [18]:
#string --> list
nome = "Alberto"
print(nome[5])#t
print(nome[-1])#o
print(nome[2:4])#slice

t
o
be

In [21]:
nome = 'salustiano rodrigues'
print(nome[5:8])#tia

lista_meu_nome = list(nome)
print(lista_meu_nome)

tia
['s', 'a', 'l', 'u', 's', 't', 'i', 'a', 'n', 'o', ' ', 'r', 'o', 'd', 'r', 'i', 'g', 'u', 'e', 's']

In [24]:
frutas = ['maçã', 'banana', 'uva', 'pera', 'manga', 'goiaba']

print(frutas[3:5])
print(frutas[:3])
print(frutas[3:])

['pera', 'manga']
['maçã', 'banana', 'uva']
['pera', 'manga', 'goiaba']

##Funções para manipulação de listas

* append
* insert
* remove
* pop
* len
* sort
* in
* index

In [25]:
nomes = ['Ana', 'Gabi', 'Mariano', 'Pedro', 'João']
#append --> adiciona um item no final da lista
nomes.append('Juca')
print(nomes)

['Ana', 'Gabi', 'Mariano', 'Pedro', 'João', 'Juca']

In [30]:
nomes = ['Ana', 'Gabi', 'Mariano', 'Pedro', 'João']
#insert --> adiciona um item em um local especifico
nomes.insert(3, 'Juca')
print(nomes)

['Ana', 'Gabi', 'Mariano', 'Juca', 'Pedro', 'João']

In [35]:
nomes = ['Ana', 'Gabi', 'Mariano', 'Pedro', 'Gabi', 'João']
#insert --> remove a primeira aparição do item na lista
nomes.remove('Gabi')
print(nomes)

['Ana', 'Mariano', 'Pedro', 'Gabi', 'João']
None

In [40]:
nomes = ['Ana', 'Gabi', 'Mariano', 'Pedro', 'João']
#pop --> remove e retorna um item da lista baseado no seu index
#pop --> Caso não seja informado o index, remove o ultimo item
nome_removido = nomes.pop(3)
print(nomes)
print(nome_removido)
nomes.pop()
print(nomes)

['Ana', 'Gabi', 'Mariano', 'João']
Pedro
['Ana', 'Gabi', 'Mariano']

In [38]:
nomes = ['Ana', 'Gabi', 'Mariano', 'Pedro', 'Gabi', 'João']
#len --> Retorna o tamanho atual da lista
print(len(nomes)) #6
nomes.remove('Mariano')
print(len(nomes))#5

6
5

In [45]:
nomes = ['Ana', 'Gabi', 'Mariano', 'Pedro', 'João']
#sort --> Ordena uma lista (strings ou numeros)
#Ordem alfabetica
nomes.sort()
print(nomes)

#Ordem reversa
nomes.sort(reverse=True)
print(nomes)

['Ana', 'Gabi', 'João', 'Mariano', 'Pedro']
['Pedro', 'Mariano', 'João', 'Gabi', 'Ana']

In [47]:
nomes = ['Ana', 'Gabi', 'Mariano', 'Pedro', 'João']
#in --> Retorna True caso encontre um item na lista

print('Gabriel' in nomes) #False
print('Pedro' in nomes) #True

False
True

In [51]:
nomes = ['Ana', 'Gabi', 'Mariano', 'Pedro', 'João']
#index --> Retorna o indice do primeiro item encontrado

print(nomes.index('Ana'))#0
print(nomes.index('João'))#4
#Retorna erro caso o valor procurado não esteja na lista
#print(nomes.index('Augusto'))

0
4

In [55]:
lista_original = ['a', 'b', 'c', 'd']
lista_referencia = lista_original #referencia na memoria

lista_referencia.append('e')
print(lista_original)

['a', 'b', 'c', 'd', 'e']

In [57]:
lista_original = ['a', 'b', 'c', 'd']
lista_copia = lista_original.copy()
lista_copia.append('e')
print(lista_copia)
print(lista_original)

['a', 'b', 'c', 'd', 'e']
['a', 'b', 'c', 'd']