<a href="https://colab.research.google.com/github/prof-salu/2025.2-LogicaProgramacao/blob/main/Lista_I_20252.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#entrada
salario_mensal = float(input('Informe o seu salario: '))

#processamento
salario_anual = salario_mensal * 12

#saida
print('Salario anual: R$', salario_anual)
print(f'Salario anual: R${salario_anual:.2f}')
print('Salario anual: R${:.2f}'.format(salario_anual))

Informe o seu salario: 2000
Salario anual: R$ 24000.0
Salario anual: R$24000.00
Salario anual: R$24000.00

In [ ]:
nota1 = float(input('Informe  a nota 01: '))
nota2 = float(input('Informe  a nota 02: '))
nota3 = float(input('Informe  a nota 03: '))
nota4 = float(input('Informe  a nota 04: '))

media = (nota1 + nota2+ nota3 + nota4)/4

print('Media final:', media)

In [12]:
altura = float(input('Informe a altura: '))
largura = float(input('Informe a largura: '))

perimetro = altura + altura + largura + largura
area = altura * largura

print('Perimetro:', perimetro)
print('Area:', area)

Informe a altura: 7
Informe a largura: 5
Perimetro: 24.0
Area: 35.0

In [ ]:
numero = int(input('Informe o valor para tabuada: '))

print(numero, 'X 0 =', numero * 0)
print(numero, 'X 1 =', numero * 1)
print(numero, 'X 2 =', numero * 2)
print(numero, 'X 3 =', numero * 3)
print(numero, 'X 4 =', numero * 4)
print(numero, 'X 5 =', numero * 5)
print(numero, 'X 6 =', numero * 6)
print(numero, 'X 7 =', numero * 7)
print(numero, 'X 8 =', numero * 8)
print(numero, 'X 9 =', numero * 9)
print(numero, 'X 10 =', numero * 10)

In [ ]:
#UTILIZANDO ESTRUTURAS DE REPETIÇÃO (VEREMOS MAIS A FRENTE)
numero = int(input('Informe o valor para tabuada: '))

for x in range(0, 11):
  print(numero, 'X',x,'=',numero*x)